USE [master]
GO
/****** Object:  Database [UniversityDB]    Script Date: 4/14/2026 11:27:39 AM ******/
CREATE DATABASE [UniversityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UniversityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UniversityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[address] [nvarchar](100) NULL,
	[city] [nvarchar](50) NULL,
	[telephone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[index_number] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[semester] [nvarchar](20) NULL,
	[professor_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentGrades]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StudentGrades] AS
SELECT s.name, s.surname, c.name AS class, e.grade
FROM Enrollment e
JOIN Student s ON e.student_id = s.student_id
JOIN Class c ON e.class_id = c.class_id;
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[professor_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[professor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([class_id], [name], [semester], [professor_id]) VALUES (1, N'Databases', N'1', 1)
INSERT [dbo].[Class] ([class_id], [name], [semester], [professor_id]) VALUES (2, N'Web Programming', N'1', 1)
INSERT [dbo].[Class] ([class_id], [name], [semester], [professor_id]) VALUES (3, N'Software Engineering', N'2', 2)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([enrollment_id], [student_id], [class_id], [grade]) VALUES (5, 3, 3, NULL)
INSERT [dbo].[Enrollment] ([enrollment_id], [student_id], [class_id], [grade]) VALUES (6, 1, 3, NULL)
INSERT [dbo].[Enrollment] ([enrollment_id], [student_id], [class_id], [grade]) VALUES (7, 2, 3, NULL)
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
SET IDENTITY_INSERT [dbo].[Professor] ON 

INSERT [dbo].[Professor] ([professor_id], [user_id], [name], [surname], [email]) VALUES (1, 1, N'Dr', N'Smith', N'smith@uni.edu')
INSERT [dbo].[Professor] ([professor_id], [user_id], [name], [surname], [email]) VALUES (2, 2, N'Dr', N'Johnson', N'johnson@uni.edu')
SET IDENTITY_INSERT [dbo].[Professor] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([student_id], [user_id], [name], [surname], [date_of_birth], [address], [city], [telephone], [email], [index_number]) VALUES (1, 3, N'Ana', N'Petrova', CAST(N'2002-05-10' AS Date), N'Prilepska 50', N'Skopje', N'123444577', N'veda.mihajlovikj@yahoo.com', N'2026001')
INSERT [dbo].[Student] ([student_id], [user_id], [name], [surname], [date_of_birth], [address], [city], [telephone], [email], [index_number]) VALUES (2, 4, N'Mark', N'Ivanov', CAST(N'2001-09-15' AS Date), N'MarijaHilfer', N'Stip', N'123345678', N'Marko@yahoo.com', N'2026002')
INSERT [dbo].[Student] ([student_id], [user_id], [name], [surname], [date_of_birth], [address], [city], [telephone], [email], [index_number]) VALUES (3, 5, N'Lara', N'Stojanov', CAST(N'2003-02-20' AS Date), N'Third Street 7', N'Stipp', N'071345678', N'lara@yahoo.com', N'2026003')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [role]) VALUES (1, N'prof1', N'pass123', N'professor')
INSERT [dbo].[Users] ([user_id], [username], [password], [role]) VALUES (2, N'prof2', N'pass123', N'professor')
INSERT [dbo].[Users] ([user_id], [username], [password], [role]) VALUES (3, N'student1', N'pass123', N'student')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Class_Name]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [UQ_Class_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Enrollment_Student_Class]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [UQ_Enrollment_Student_Class] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Student_Class]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [UQ_Student_Class] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Professo__B9BE370E7B7D8C9C]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Professor] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__1C635F17EE7E29F2]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[index_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Student__B9BE370E6E8F3645]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Student_Index]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [UQ_Student_Index] UNIQUE NONCLUSTERED 
(
	[index_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC5721F7D4585]    Script Date: 4/14/2026 11:27:40 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Professor] FOREIGN KEY([professor_id])
REFERENCES [dbo].[Professor] ([professor_id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Professor]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([class_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Class]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([student_id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
ALTER TABLE [dbo].[Professor]  WITH CHECK ADD  CONSTRAINT [FK_Professor_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Professor] CHECK CONSTRAINT [FK_Professor_User]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD CHECK  (([grade]>=(5) AND [grade]<=(10)))
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [CK_Enrollment_Grade] CHECK  (([grade]>=(5) AND [grade]<=(10)))
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [CK_Enrollment_Grade]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='professor' OR [role]='student'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddClass]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddClass]
    @Name NVARCHAR(100),
    @Semester INT,
    @ProfessorId INT
AS
BEGIN
    INSERT INTO Class (name, semester, professor_id)
    VALUES (@Name, @Semester, @ProfessorId)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStudentToClass]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddStudentToClass]
    @StudentId INT,
    @ClassId INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM Enrollment
        WHERE student_id = @StudentId
          AND class_id = @ClassId
    )
    BEGIN
        INSERT INTO Enrollment (student_id, class_id)
        VALUES (@StudentId, @ClassId)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckUsername]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckUsername]
    @username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) 
    FROM dbo.Users 
    WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClass]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteClass]
    @ClassId INT
AS
BEGIN
    DELETE FROM Class WHERE class_id = @ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClassAndEnrollments]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteClassAndEnrollments]
    @ClassId INT
AS
BEGIN
    -- Delete all enrollments for this class
    DELETE FROM Enrollment
    WHERE class_id = @ClassId;

    -- Now delete the class itself
    DELETE FROM Class
    WHERE class_id = @ClassId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EnrollStudent]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EnrollStudent]
    @StudentId INT,
    @ClassId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Enrollment (student_id, class_id)
    VALUES (@StudentId, @ClassId);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailableClassesForStudent]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAvailableClassesForStudent]
    @ProfessorId INT,
    @StudentId INT
AS
BEGIN
    SELECT c.class_id, c.name
    FROM Class c
    WHERE c.professor_id = @ProfessorId
      AND c.class_id NOT IN (
          SELECT class_id
          FROM Enrollment
          WHERE student_id = @StudentId
      )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailableClassesForStudentDashboard]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAvailableClassesForStudentDashboard]
    @StudentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.class_id,
        c.name AS ClassName,
        CAST(c.semester AS INT) AS semester,
        u.username AS Professor
    FROM Class c
    INNER JOIN Users u ON c.professor_id = u.user_id
    WHERE c.class_id NOT IN (
        SELECT class_id FROM Enrollment WHERE student_id = @StudentId
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClassById]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetClassById]
    @ClassId INT
AS
BEGIN
    SELECT class_id, name, semester, professor_id
    FROM Class
    WHERE class_id = @ClassId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClassesByProfessor]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClassesByProfessor]
    @ProfessorId INT
AS
BEGIN
    SELECT class_id, name
    FROM Class
    WHERE professor_id = @ProfessorId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClassStudents]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetClassStudents]
    @ClassId INT
AS
BEGIN
    SELECT 
        s.student_id,
        s.name,
        s.surname,
        s.index_number,
        e.grade
    FROM Enrollment e
    JOIN Student s ON e.student_id = s.student_id
    WHERE e.class_id = @ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProfessorClasses]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetProfessorClasses]
    @ProfessorId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        class_id,
        name
    FROM Class
    WHERE professor_id = @ProfessorId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProfessorClassesSimple]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProfessorClassesSimple]
    @ProfessorId INT
AS
BEGIN
    SELECT class_id, name
    FROM Class
    WHERE professor_id = @ProfessorId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentClassesAndGrades]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetStudentClassesAndGrades] @StudentId int
as begin set nocount on;
select c.class_id, c.name as ClassName, e.grade
from Enrollment e
inner join Class c on e.class_id=c.class_id where e.student_id=@StudentId;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentId]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudentId]
    @userId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT student_id
    FROM Student
    WHERE user_id = @userId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentIdByIndex]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudentIdByIndex]
    @IndexNumber NVARCHAR(50)
AS
BEGIN
    SELECT student_id
    FROM Student
    WHERE index_number = @IndexNumber
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentInfo]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetStudentInfo] @StudentId int
as 
begin 
set nocount on;
select  name,
        surname,
        date_of_birth,
        address,
        city,
        email,
        telephone,
        index_number
        from Student where student_id=@StudentId;
        end; 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsByClass]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetStudentsByClass]
    @ClassId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.student_id,
        s.name,
        s.surname,
        s.index_number,
        e.grade
    FROM Enrollment e
    JOIN Student s ON e.student_id = s.student_id
    WHERE e.class_id = @ClassId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT user_id, role, password
    FROM dbo.Users
    WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterStudent]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterStudent]
    @username NVARCHAR(100),
    @password NVARCHAR(100),
    @name NVARCHAR(100),
    @surname NVARCHAR(100),
    @dob DATE,
    @address NVARCHAR(200),
    @city NVARCHAR(100),
    @tel NVARCHAR(50),
    @email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @userId INT;
    DECLARE @currentYear NVARCHAR(4);
    DECLARE @indexPrefix NVARCHAR(4);
    DECLARE @maxIndex NVARCHAR(10);
    DECLARE @nextNumber INT = 1;
    DECLARE @indexNumber NVARCHAR(10);

    -- Insert into Users
    INSERT INTO dbo.Users (username, password, role)
    VALUES (@username, @password, 'student');

    SET @userId = SCOPE_IDENTITY();

    -- Generate Index Number
    SET @currentYear = YEAR(GETDATE());
    SET @indexPrefix = @currentYear;

    SELECT @maxIndex = MAX(index_number)
    FROM dbo.Student
    WHERE index_number LIKE @indexPrefix + '%';

    IF @maxIndex IS NOT NULL
        SET @nextNumber = CAST(SUBSTRING(@maxIndex, 5, 3) AS INT) + 1;

    SET @indexNumber = @indexPrefix + RIGHT('000' + CAST(@nextNumber AS VARCHAR), 3);

    -- Insert into Student
    INSERT INTO dbo.Student
    (user_id, name, surname, date_of_birth, address, city, telephone, email, index_number)
    VALUES
    (@userId, @name, @surname, @dob, @address, @city, @tel, @email, @indexNumber);

    -- Return generated index
    SELECT @indexNumber AS GeneratedIndex;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveStudentFromClass]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveStudentFromClass]
    @StudentId INT,
    @ClassId INT
AS
BEGIN
    DELETE FROM Enrollment
    WHERE student_id = @StudentId
      AND class_id = @ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SetGrade]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SetGrade]
    @StudentId INT,
    @ClassId INT,
    @Grade INT
AS
BEGIN
    UPDATE Enrollment
    SET grade = @Grade
    WHERE student_id = @StudentId
      AND class_id = @ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClass]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateClass]
    @ClassId INT,
    @Name NVARCHAR(100),
    @Semester INT
AS
BEGIN
    UPDATE Class
    SET name = @Name,
        semester = @Semester
    WHERE class_id = @ClassId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStudentPersonalInfo]    Script Date: 4/14/2026 11:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateStudentPersonalInfo]
    @StudentId INT,
    @Address NVARCHAR(255),
    @City NVARCHAR(100),
    @Email NVARCHAR(100),
    @Telephone NVARCHAR(50)
AS
BEGIN
    UPDATE Student
    SET address = @Address,
        city = @City,
        email = @Email,
        telephone = @Telephone
    WHERE student_id = @StudentId;
END;
GO
USE [master]
GO
